# see https://clangd.llvm.org/config#if
If:
  PathMatch: *
CompileFlags:
  Add:
    - "-I${HOME}/Library/Arduino15/packages/arduino/hardware/avr/1.8.6/cores/arduino"
    - "-I${HOME}/Library/Arduino15/packages/esp32/hardware/esp32/2.0.14/cores/esp32"
    - "-I${HOME}/Library/Arduino15/packages/m5stack/hardware/esp32/2.1.1/cores/esp32/"
